:root{
    --primary-color: #E10A17;
    --secondery-color: #1A1A1D;
    --third-color: #fff;
    --fourth-color: #9b9b9b;
    --fifth-color: #ebebeb;
    --primary-hover: #b30712;
    --body-color: #F2F3F8;
    --fs-lite: 12px;
    --fs-normal: 14px;
    --fs-medium: 18px;
    --fs-large: 20px;
    --fs-larger: 22px;
    --fw-regular: 400;
}

*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body{
    font-family: "Inter", serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    padding: 0;
}

a{
    color: unset;
    text-decoration: none;
}

.width{
    max-width: 1366px;
    margin: 0 auto;
}

header{
    background-color: var(--secondery-color);
    color: var(--third-color);
    padding: 20px 20px 0;
}

.topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: var(--fs-normal);
}

.topHeader > i{
    font-size: var(--fs-large);
    display: none;
}

.logo{
    width: 40px;
    display: flex;
    align-items: center;
}

.search{
    background-color: var(--third-color);
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.search input{
    width: 100%;
    border: none;
    font-size: var(--fs-normal);
}

.search input:focus{
    outline: none;
    font-size: var(--fs-normal);
}

.search input::placeholder{
    font-family: "Inter", serif;
}

.search i{
    color: grey;
}

.navRight{
    display: flex;
    gap: 30px;
}

.navItems{
    display: flex;
    align-items: center;
}
.navItems > i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size: var(--fs-medium);
}

.navLinks > a{
    display: block;
}

.navLinks > span{
    font-size: var(--fs-lite);
    color: var(--fourth-color);
}

.navRight button{
    background-color: var(--primary-color);
    border: none;
    font-family: "Inter", serif;
    font-size: var(--fs-normal);
    color: var(--third-color);
    padding: 0 15px;
    border-radius: 50px;
}

.navRight button:hover{
    background-color: var(--primary-hover)
}


.navRight button:active{
    transform: scale(0.9);
}

.navRight button >i{
    margin-left: 5px;
}

.bottomHeader{
    margin-top: 25px;
}

.bottomHeader > ul{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-normal);
}

.bottomHeader li{
    cursor: pointer;
}

.bottomHeader > ul > li{
    position: relative;
    padding-bottom: 20px;
}

.bottomHeader .subcategory{
    position: absolute;
    background-color: var(--secondery-color);
    width: 180px;
    top: 100%;
    left: 0;
    display: none;
    padding: 5px 0;
    border-top: 3px solid red;
    border-radius: 5px;
    z-index: 10;
}

.bottomHeader .subcategory li:hover{
    background-color: var(--primary-color);
}

.bottomHeader .subcategory li{
    color: var(--third-color);
    padding: 5px 0 5px 8px;
}

.bottomHeader .mainCat:hover .subcategory{
    display: block;
}

.cart{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    height: 40px;
    width: 40px;
    color: var(--third-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cartCount{
    background-color: black;
    height: 12px;
    width: 12px;
    padding: 5px;
    font-size: var(--fs-lite);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: -20%;
    right: 0%;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
    z-index: 9998;
}

#offCanvas{
    position: absolute;
    top: 0;
    height: calc(100vh - 40px);
    background-color: var(--secondery-color);
    left: -280px;
    width: 240px;
    padding: 20px;
    overflow: auto;
    transition: 0.3s ease-in-out;
    z-index: 9999;
}

.topAside{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topAside h2{
    color: var(--fourth-color);
}

.close{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: var(--fs-medium);
}

#mobCategory{
    margin-top: 30px;
}

#mobCategory > li{
    font-size: var(--fs-normal);
}

#mobCategory > li:not(:last-child){
    margin-bottom: 20px;
}

#mobCategory > li > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobSubCat{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.mobSubCat.showSub{
    max-height: 1500px;
}

.mobSubCat li > a{
    color: #bbbbbb;
    font-size: var(--fs-normal);

}

.mobSubCat li{
    margin-top: 10px;
}

.downArrow{
    transition: 0.4s ease;
}

.navigation{
    display: none;
}

main{
    padding: 20px;
    background-color: var(--body-color);
}


/* Carousel CSS Here */

#allCarousels{
    margin-bottom: 30px;
}


.carousel {
    position: relative;
    max-width: 1366px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    gap: 8px;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner-circle {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  
  .circular-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }
  
  .circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-dasharray: 100, 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.5s ease;
  }
  
  .dot.active .circle {
    animation: progressAnimation 5s linear forwards;
  }
  
  @keyframes progressAnimation {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  /* Image Ads */

  .ads img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .ads{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }

/* Featured Category Section Here */

.featuredCat{
    margin-bottom: 30px;
}

.featuredSec h2, .featuredSec h4{
    text-align: center;
}

.featuredSec h2{
    color: var(--primary-color);
}

.featuredSec h4{
    color: var(--secondery-color);
    margin-bottom: 20px;
    font-weight: var(--fw-regular);
}

.featuredCat{
    display: grid;
    justify-content: space-between;
    column-gap: 10px;
    grid-template-columns: repeat(8, auto);
}

.featuredCat img{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid var(--fifth-color);
}

.featuredCat a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featuredCat a:hover img {
    border-color: var(--primary-color);
}

.featuredCat a:hover .catTitle{
    color: var(--primary-color);
}

.catTitle{
    margin-top: 10px;
}

@media only screen and (max-width: 1280px){
    header{
        padding: 20px;
    }

    .topHeader > i{
        font-size: var(--fs-large);
        display: block;
        cursor: pointer;
    }

    .bottomHeader{
        display: none;
    }
}

@media only screen and (max-width: 1245px){
    .featuredCat{
        grid-template-columns: repeat(7, auto);
        row-gap: 10px;
    }
}

@media only screen and (max-width: 1093px){
    .featuredCat{
        grid-template-columns: repeat(6, auto);
    }
}

@media only screen and (max-width: 962px){

    .navRight{
        display: none;
    }

    .cart{
        bottom: 70px;
    }

    .navigation{
        position: fixed;
        display: flex;
        left: 0;
        bottom: 0;
        right: 0;
        height: 61px;
        background: var(--primary-color);
        z-index: 999;
        box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(255, 255, 255, 0.2);
        flex: 1 1 auto;
        width: 100%;
        padding: 0;
    }
    .navigation > a{
        float: none;
        display: flex;
        padding-left: 0;
        flex-direction: column;
        flex: 0 0 20%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--third-color);
    }
    .navigation > a > label{
        font-size: var(--fs-lite);
        margin-top: 5px;
    }

    main{
        padding: 10px;
    }

    .carousel {
        margin-bottom: 10px;
    }

    .ads{
        grid-template-columns: auto;
        row-gap: 10px;
      }

}

@media only screen and (max-width: 921px){
    .featuredCat{
        grid-template-columns: repeat(5, auto);
    }
}

@media only screen and (max-width: 768px){
    .featuredCat{
        grid-template-columns: repeat(4, auto);
    }
}

@media only screen and (max-width: 617px){
    .featuredCat img{
        width: 130px;
        height: 130px;
    }
}

@media only screen and (max-width: 578px){
    .featuredCat img{
        width: 100px;
        height: 100px;
    }

    .catTitle{
        font-size: var(--fs-lite);
    }
}

@media only screen and (max-width: 458px){
    .featuredCat img{
        width: 90px;
        height: 90px;
    }

}

@media only screen and (max-width: 417px){
    .featuredCat img{
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 320px){
    .featuredCat img{
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }
}