:root{
    --primary-color: #E10A17;
    --secondery-color: #1A1A1D;
    --third-color: #fff;
    --fourth-color: #9b9b9b;
    --primary-hover: #b30712;
    --fs-lite: 12px;
    --fs-normal: 14px;
    --fs-medium: 18px;
    --fs-large: 20px;
}

*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body{
    font-family: "Inter", serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    padding: 0;
}

a{
    color: unset;
    text-decoration: none;
}

.width{
    max-width: 1366px;
    margin: 0 auto;
}

header{
    background-color: var(--secondery-color);
    color: var(--third-color);
    padding: 20px 20px 0;
}

.topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: var(--fs-normal);
}

.topHeader > i{
    font-size: var(--fs-large);
    display: none;
}

.logo{
    width: 40px;
    display: flex;
    align-items: center;
}

.search{
    background-color: var(--third-color);
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.search input{
    width: 100%;
    border: none;
    font-size: var(--fs-normal);
}

.search input:focus{
    outline: none;
    font-size: var(--fs-normal);
}

.search input::placeholder{
    font-family: "Inter", serif;
}

.search i{
    color: grey;
}

.navRight{
    display: flex;
    gap: 30px;
}

.navItems{
    display: flex;
    align-items: center;
}
.navItems > i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size: var(--fs-medium);
}

.navLinks > a{
    display: block;
}

.navLinks > span{
    font-size: var(--fs-lite);
    color: var(--fourth-color);
}

.navRight button{
    background-color: var(--primary-color);
    border: none;
    font-family: "Inter", serif;
    font-size: var(--fs-normal);
    color: var(--third-color);
    padding: 0 15px;
    border-radius: 50px;
}

.navRight button:hover{
    background-color: var(--primary-hover)
}


.navRight button:active{
    transform: scale(0.9);
}

.navRight button >i{
    margin-left: 5px;
}

.bottomHeader{
    margin-top: 25px;
}

.bottomHeader > ul{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-normal);
}

.bottomHeader li{
    cursor: pointer;
}

.bottomHeader > ul > li{
    position: relative;
    padding-bottom: 20px;
}

.bottomHeader .subcategory{
    position: absolute;
    background-color: var(--secondery-color);
    width: 180px;
    top: 100%;
    left: 0;
    display: none;
    padding: 5px 0;
    border-top: 3px solid red;
    border-radius: 5px;
}

.bottomHeader .subcategory li:hover{
    background-color: var(--primary-color);
}

.bottomHeader .subcategory li{
    color: var(--third-color);
    padding: 5px 0 5px 8px;
}

.bottomHeader .mainCat:hover .subcategory{
    display: block;
}

.cart{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    height: 40px;
    width: 40px;
    color: var(--third-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cartCount{
    background-color: black;
    height: 12px;
    width: 12px;
    padding: 5px;
    font-size: var(--fs-lite);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: -20%;
    right: 0%;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
}

#offCanvas{
    position: absolute;
    top: 0;
    height: calc(100vh - 40px);
    background-color: var(--secondery-color);
    left: -280px;
    width: 240px;
    padding: 20px;
    overflow: auto;
    transition: 0.3s ease-in-out;
}

.topAside{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topAside h2{
    color: var(--fourth-color);
}

.close{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: var(--fs-medium);
}

#mobCategory{
    margin-top: 30px;
}

#mobCategory > li{
    font-size: var(--fs-normal);
}

#mobCategory > li:not(:last-child){
    margin-bottom: 20px;
}

#mobCategory > li > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobSubCat{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.mobSubCat.showSub{
    max-height: 1500px;
}

.mobSubCat li > a{
    color: #bbbbbb;
    font-size: var(--fs-normal);

}

.mobSubCat li{
    margin-top: 10px;
}

.downArrow{
    transition: 0.4s ease;
}

@media only screen and (max-width: 1280px){
    header{
        padding: 20px;
    }

    .topHeader > i{
        font-size: var(--fs-large);
        display: block;
        cursor: pointer;
    }

    .bottomHeader{
        display: none;
    }
}

@media only screen and (max-width: 962px){

    .navRight{
        display: none;
    }
}